*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App  {
    text-align: center;
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    min-width: 100%;
}

.Header {
    background-color: rgb(21, 21, 182);
    color: white;
    padding: 8px;
}

.UseStateHooks .heading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-wrap: wrap;
    padding: 14px;
}

.heading{
    font-size: xx-large;
}
.btn{
    color: white;
    background-color: rgb(21, 21, 182);
    padding: 10px;
    margin: 10px;
    font-size: large;
}
.Footer {
    background-color: rgb(21, 21, 182);
    color: white;
    padding: 8px;
}